version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    reviewers:
      - Garrettc123
    auto-merge: true

  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    reviewers:
      - Garrettc123
    auto-merge: true

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: weekly
    reviewers:
      - Garrettc123
